:root{
  --primary-color: #1A1A22;
  --secondary-color: #1A1A22;
  --light-color: #292B37;
  --dark-color: #1A1A22;
  --max-width: 1100px;
}
.category{
  --eng-color: #333;
  --com-color: #333;
  --env-color: #333;
  --sci-color: #333;
  --tec-color: #333;
  --bus-color: #333;
  --soc-color: #333;
  --fa-color: #333;
  --lan-color: #333;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a{
  color: var(--dark-color);
  text-decoration: none;
}
ul{
  list-style: none;
}
p{
  margin: 0.5rem 0;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Palatino';
  margin-bottom: .75rem;
  line-height: 1.3;
}

/* Utilities */
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 5rem;
  overflow: hidden;
}
.category{
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-tec{
  background: var(--tec-color);
}
.category-clean-energy{
  background: var(--sports-color);
}
.category-com{
  background: var(--com-color);
}
.category-env{
  background: var(--env-color);
}
.category-sci{
  background: var(--sci-color);
}
.category-eng{
  background: var(--eng-color);
}
.category-com{
  background: var(--com-color);
}
.category-bus{
  background: var(--bus-color);
}
.category-soc{
  background: var(--soc-color);
}
.category-fa{
  background: var(--fa-color);
}
.category-lan{
  background: var(--lan-color);
}

.btn{
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-light{
  background: var(--light-color);
  color: var(--dark-color);
}
.btn-primary{
  background: var(--primary-color);
}
.btn-secondary{
  background: var(--secondary-color);
}
.btn:hover{
  opacity: 0.9;
}
.btn-block{
  display: block;
  width: 100%;
  text-align: center;
}
.card{
  background: #fff;
  padding: 1rem;
}
.about{
  background: #fff;
  padding: 1rem;
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.bg-dark{
  background: var(--dark-color);
  color: #fff;
}
.bg-primary{
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary{
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3
.bg-secondary a{
  color: #fff;
}
.py-1{
  padding: 1.5rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}
.p-1{
  padding: 1.5rem;
}
.p-2{
  padding: 2rem;
}
.p-3{
  padding: 3rem;
}

.list li{
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: #555 dotted 1px;
  width: 90%;
}
.list li a:hover{
  color: var(--primary-color) !important;
}
.page-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child{
  grid-row: 1 / span 3;
}
.l-heading{
  font-size: 2rem;
}

/* Navigation Bar */
#main-nav{
  background: #B42C2C;
  position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container{
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  padding: 1rem;
  align-items: center;
}
#main-nav .logo{
  width: 100px;
}
#main-nav ul{
  justify-self: end;
  display: flex;
  margin: auto;
}
#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
}
#main-nav ul li a.current{
  border-bottom: 4px solid var(--primary-color);
}
#main-nav ul li a:hover{
  background: var(--light-color);
  color: var(--dark-color);
}

/* Showcase */
#showcase{
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
#showcase:before{
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#showcase .showcase-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#showcase .showcase-content{
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Articles */
#home-articles .articles-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
  display: grid;
  grid-template-columns: 	repeat(1, 1fr);
  grid-gap: 1rem;
  
  align-items: center;
}
#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem; 
}
#article .meta .category{
  margin-top: 0.4rem;
}

/* Footer */
#main-footer{
  background: var(--dark-color);
  color: #fff;
}
#main-footer img{
  width: 150px;
}
#main-footer a{
  color: #fff;
}
#main-footer .footer-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
.copyright{
  text-align: center
}
#main-footer .footer-container input[type='email']{
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit']{
  width: 90%;
}
